registry=https://greatlearning-domain-586340571056.d.codeartifact.us-east-1.amazonaws.com/npm/NodeJSDemoRepository/
//greatlearning-domain-586340571056.d.codeartifact.us-east-1.amazonaws.com/npm/NodeJSDemoRepository/:always-auth=true
//greatlearning-domain-586340571056.d.codeartifact.us-east-1.amazonaws.com/npm/NodeJSDemoRepository/:_authToken=${CODEARTIFACT_AUTH_TOKEN}